#carouselExampleSlidesOnly {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 50vh;
  border-radius: 5px #8b0303;
  margin-top: 3%;
}

#carouselExampleIndicators {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 500px;
  height: 30rem;
  border-radius: 5px #8b0303;
  margin-top: 2px;
  margin-bottom: 2px;
}
