#carouselExampleSlidesOnly {
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}

.carousel__marcas--123 {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 20rem;
  height: 15rem;
  background-size: contain;

  margin-top: 2px;
  margin-bottom: 2px;
}

.Marcas__txt {
  display: grid;
  justify-content: center;
  align-items: center;
}
