.NA {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  align-items: center;
}
.Formulario {
  margin: 2%;
  padding: 2%;
  color: white;
  justify-content: center;
  align-items: center;
}
.TipoDeConsulta {
  display: inline;
  justify-content: center;
  align-items: center;
}

#Consulta {
  display: inline;
  justify-content: center;
  align-items: center;
  padding: 2mm;
  border: solid 2px black;
  background-color: rgb(165, 14, 14);
  background-image: linear-gradient(to bottom, red, rgb(139, 3, 3));
  color: white;
  width: 180px;
  margin-top: 2%;
  margin-bottom: 2%;
  cursor: pointer;
}

.Mensaje {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  align-items: center;
}

.EnviarLimpForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button__Contacto--Enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(85, 2, 2);
  background-image: linear-gradient(to bottom, red, rgb(139, 3, 3));
}

.Button__Contacto--LimpiarForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(85, 2, 2);
  width: 150px;
  margin-left: 3%;
  background-image: linear-gradient(to bottom, red, rgb(139, 3, 3));
}

@media only screen and (min-width: 500px) {
  .cons__menu--btn {
    margin-left: 35%;
  }
}

.gracias {
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
