.footer__button--modifier {
  display: flex;
  width: 95.9%;
  margin-left: 2.1%;
  margin-right: 2.1%;
  justify-content: center;
  background-image: linear-gradient(to bottom, red, rgb(139, 3, 3));
  border: 2px solid rgb(12, 1, 1);
  font-weight: bold;
  cursor: pointer;
}

.Buttons__Footer--SocialMedia {
  color: white;
}

.Whatsapp__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 55px;
  height: 55px;
}

.Buttons__Footer--SocialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Facebook__btn {
  padding: 3%;
}

.btn {
  background-image: linear-gradient(to top, red, #8b0303);
  text-decoration: none;
}
