.footer__button--modifier {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: stretch;
  width: 100%;
  justify-content: center;
  background-image: linear-gradient(to bottom, red, rgb(139, 3, 3));
  margin-top: 3%;
  font-weight: bold;
  cursor: pointer;
}

.container__footer {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, red, rgb(139, 3, 3));
}

.Buttons__Footer--SocialMedia {
  color: white;
}

.Whatsapp__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 55px;
  height: 55px;
}

.Buttons__Footer--SocialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Facebook__btn {
  padding: 3%;
}

.btn {
  background-image: linear-gradient(to top, red, #8b0303);
  text-decoration: none;
}

.webby {
  display: flex;
  font-family: "Poppins", sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.webby-link {
  margin-top: 1%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.webby-link:hover {
  color: rgb(243, 125, 208);
}
