.items__bar--style {
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
.input__buscar {
  width: 25rem;
}

.Section__SearchBar--Bar {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  width: 70%;
  height: 30px;
  justify-content: stretch;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 3%;
}

.Button__Select--Menu {
  border: 2px solid black;
  background-color: #aa0909;
  background-image: linear-gradient(to bottom, red, #8b0303);
  font-size: 18px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}

.col-12 {
  display: flex;
  justify-content: center;
}

.card {
  border: solid 2px;
}
.card-body {
  font-family: "Poppins", sans-serif;
  font-weight: bold 10px;
}
.card-text {
  font-family: "Poppins", sans-serif;
  font-weight: bold 20px;
}

.fa-shopping-cart {
  display: flex;
  flex-direction: row-reverse;
  padding: 2%;
}

.imagen__quesos--sup {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  opacity: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.imagen__picada--sup {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  opacity: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.imagen__jamon--sup {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  opacity: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (max-width: 768px) {
  .imagen__quesos--sup {
    max-width: 10rem;
  }
}

@media (max-width: 768px) {
  .imagen__picada--sup {
    max-width: 10rem;
  }
}

@media (max-width: 768px) {
  .imagen__jamon--sup {
    max-width: 60rem;
  }
}
