.QuienesSomos__camion--img {
  width: 400px;
  height: 200px;
  display: flex;
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.Description__text--format {
  display: grid;
  justify-content: center;
  align-items: center;
}

.quienessomos__p--text {
  display: flex;
  justify-content: center;
  align-items: center;
}
