.Google__Map--img {
  display: grid;
  justify-items: center;
  margin-top: 3%;
  border-radius: solid 2px;
}
@media (max-width: 768px) {
  .img__google--map {
    max-width: 25rem;
    max-height: 20rem;
  }
}

.Location__Address--text {
  display: grid;
  justify-items: center;
  color: white;
  margin-top: 5%;
}

.h1Ubicación {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  color: white;
}

.main__vh {
  height: 100vh;
}
