.Google__Map--img {
  display: grid;
  justify-items: center;
  margin-top: 3%;
  border-radius: solid 2px;
  height: 80vh;
}
@media (max-width: 768px) {
  .img {
    max-width: 10rem;
  }
}
.Location__Address--text {
  display: grid;
  justify-items: center;
  margin-top: 2%;
  color: white;
  height: 20vh;
}

.h1Ubicación {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  color: white;
  height: 20vh;
}

.background__color--font {
  height: 100vh;
}
